.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #ffebee;
}
/* Styles for the switch toggle */
.dark-mode {
  background-color: #121212;
  color: #fff;
}

/* Styles for the switch toggle */
.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Add dark mode and light mode styles here as before */


h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #FFA500;
  font-size: 8rem;
  color: #FC2E20;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-style: italic;
  font-family: "Poppins variant6", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 2px 0 #FDB750;
}

img {
  width: 70%;
  border: 3px solid #6B8E23;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Horizontal offset, vertical offset, blur radius, and shadow color */
}


footer {
  margin-top: 5%;
  color: #FFA500;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust styles for screens smaller than 768px */
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  /* Adjust styles for screens smaller than 480px */
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}
